@import "tailwindcss";
@plugin "daisyui";

/* for navbar css */
.navBottomShadow{
  box-shadow: 0px 0.5px 1px 0px #82ae46;
-webkit-box-shadow: 0px 6px 8px 0px #82ae46;
-moz-box-shadow: 0px 6px 8px 0px #82ae46;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #82ae46;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}