@import "tailwindcss";
@plugin "daisyui";

html{
  scroll-behavior: smooth;
}
/* for navbar css */
.navBottomShadow{
  box-shadow: 0px 0.5px 1px 0px #82ae46;
-webkit-box-shadow: 0px 6px 8px 0px #82ae46;
-moz-box-shadow: 0px 6px 8px 0px #82ae46;
}

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #82ae46;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

/* Banner section css */
.slider-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider-track {
  display: flex;
  width: fit-content;
  animation: slide 10s  linear infinite;
}

.slider-item {
  flex: 0 0 100vw; /* each item is full screen width */
  height: 100vh;
  position: relative;
}

@keyframes slide {
   0% {
    transform: translateX(0%);
  }

  55% {
    transform: translateX(0%); 
  }

  56% {
    transform: translateX(-100vw); 
  }

  100% {
    transform: translateX(-100vw); 
  }
}

/* Home page category section animation */
.category_1st_section{
  animation: 1.5s slide1st ease;
  animation-iteration-count: 1;
}
.category_1st_section2{
  animation: 1.5s slide1st ease;
  /* animation-delay: 1000ms; */
  animation-iteration-count: 1;
}
@keyframes slide1st{
0%{
transform: translateX(-300px);
/* transform: translateY(-150px); */
scale: 0.5;
opacity: 0;
animation-delay: 1000ms;

}
100%{
  
  transform: translateX(0px);
  /* transform: translateY(0px); */
}
}


/* footer gradient */
.footer_gradient{
  background: #82AE46;
background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgb(41, 54, 30) 100%);
}